@font-face {
  font-family: mononokiRegular;
  src: url('fonts/mononoki-regular.woff') format('woff');
}

:root {
  overflow: hidden;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #2E3440;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #D8DEE9;
}

#connection-box {
  background-color: #3B4252;
  padding: 5px;
  border-radius: 5px;
  font-size: medium;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
  -moz-user-select: none;
}

.connection-input {
  border: none;
  background-color: #4C566A;
  width: 15px;
  height: 15px;
  color: #D8DEE9;
  font-size: medium;
  text-align: center;
  border-radius: 5px;
}

#context-menu {
  position: absolute;
  background-color: #3B4252;
  font-size: 15px;
  border-radius: 5px;
}

#context-menu p {
  white-space: nowrap;
  margin: 0px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  color: #D8DEE9;
}
#context-menu p:hover {
  background-color: #4C566A;
  color: #ECEFF4;
}

#tape {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
}

#tape input {
  font-family: mononokiRegular;
  color: white;
  text-align: center;
  border: none;
  padding: 0;
  outline: none;
  -webkit-user-drag: none;
}

#cursor {
  position: absolute;
  border: 10px solid #88C0D0;
  pointer-events: none;
}

.blocker {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  transition: 0.3s;
}

.pane {
  position: absolute;
  background-color: #3B4252;
  height: 600px;
  width: 400px;
  border-radius: 10px;
  transition: 0.3s;
}

.pane-content {
  color: #D8DEE9;
  text-align: justify;
  margin: 0px;
  padding: 20px;
  overflow-x: hidden;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  background-color: transparent;
  border: none;
  -ms-overflow-style: none;
}
.pane-content::-webkit-scrollbar {
  display: none;
}

.pane-content a {
  text-decoration: underline;
  color: #D8DEE9;
  cursor: pointer;
}

.key {
  background-color: #D8DEE9;
  color: #2E3440;
  border-radius: 4px;
  padding: 1px 4px;
}

#json {
  font-size: 18px;
  font-family: mononokiRegular;
}
#json:focus {
  outline-width: 0;
}

.topbar {
  position: absolute;
  top: 0px;
  height: 50px;
  width: 100%;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.toolbar {
  height: 40px;
  width: 100%;
  background-color: #434C5E;
  border-radius: 10px 10px 0px 0px;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toolbar-button {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  color: #D8DEE9;
  transition: 0.1s;
  cursor: pointer;
  opacity: 0.5;
}
.toolbar-button:hover {
  opacity: 1;
}

.toolbar-button svg {
  min-width: 20px;
}

.toolbar-button .tooltip {
  font-size: 15px;
  font-weight: bold;
  line-height: normal;
  white-space: nowrap;
  visibility: hidden;
  background-color: #4C566A;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
  transform: translate(calc(-50% - 10px), calc(-100% - 10px));
}
.toolbar-button .tooltip::after { /* Tooltip arrow */
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4C566A transparent transparent transparent;
}
.toolbar-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.topbar .tooltip {
  transform: translate(calc(-50% - 15px), 200%);
}
.topbar .tooltip::after { /* Tooltip arrow */
  top: -10px;
  border-color: transparent transparent #4C566A transparent;
}

.button {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #88C0D0;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}
.button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.button:active {
  transition: .05s;
  transform: scale(1);
  box-shadow: none;
}

#speed-controls {
  position: absolute;
  right: 20px;
  background-color: #3B4252;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

#speed-controls div {
  width: 30px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
#speed-controls div:hover {
  background-color: #434C5E;
}