:root {
  overflow: hidden;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #2E3440;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #D8DEE9;
}

#connection-box {
  background-color: #3B4252;
  padding: 5px;
  border-radius: 5px;
  font-size: medium;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
  -moz-user-select: none;
}

.connection-input {
  border: none;
  background-color: #4C566A;
  width: 15px;
  height: 15px;
  color: #D8DEE9;
  font-size: medium;
  text-align: center;
  border-radius: 5px;
}

#context-menu {
  position: absolute;
  background-color: #3B4252;
  font-size: 15px;
  border-radius: 5px;
}

#context-menu p {
  margin: 0px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  color: #D8DEE9;
}
#context-menu p:hover {
  background-color: #4C566A;
  color: #ECEFF4;
}

#tape {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
}

#tape input {
  font-family: mononokiRegular;
  color: white;
  text-align: center;
  border: none;
  padding: 0;
  outline: none;
  -webkit-user-drag: none;
}

#cursor {
  position: absolute;
  border: 10px solid #88C0D0;
  pointer-events: none;
}

#json-pane {
  position: absolute;
  background-color: #3B4252;
  width: 400px;
  top: 100px;
  border-radius: 10px;
  transition: 0.3s;
}

#json {
  font-size: 18px;
  font-family: mononokiRegular;
  color: #D8DEE9;
  text-align: left;
  margin: 0px;
  padding: 20px;
  overflow-x: hidden;
  width: 100%;
  height: calc(100% - 80px);
  background-color: transparent;
  border: none;
  -ms-overflow-style: none;
}
#json::-webkit-scrollbar {
  display: none;
}
#json:focus {
  outline-width: 0;
}

.toolbar {
  height: 40px;
  width: 100%;
  background-color: #434C5E;
  border-radius: 10px 10px 0px 0px;
  font-size: 20px;
  line-height: 40px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.toolbar-button {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  color: #D8DEE9;
  transition: 0.1s;
  cursor: pointer;
  opacity: 0.5;
}
.toolbar-button:hover {
  opacity: 1;
}

.toolbar-button .tooltip {
  font-size: 15px;
  font-weight: bold;
  line-height: normal;
  visibility: hidden;
  background-color: #4C566A;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  top: -35px;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
  transform: translate(calc(-50% + 28.5px));
}
.toolbar-button .tooltip::after { /* Tooltip arrow */
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4C566A transparent transparent transparent;
}
.toolbar-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.button {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #88C0D0;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}
.button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.button:active {
  transition: .05s;
  transform: scale(1);
  box-shadow: none;
}